*/__pycache__
.idea/
examples/params.yml
.DS_Store
params.yml

# IDE working files
**/.vscode/
**/build*/
*.code-workspace
CMakePresets.json
*.iml
.cache/

# runtime artifacts
.nextflow*

# compiler artifacts
src/demultiplex/demultiplex
src/deduplicate/deduplicate
src/split-bam/split-bam
src/qc-filter-reads/qc-filter-reads
bin/demultiplex
bin/deduplicate
bin/split-bam
bin/qc-filter-reads
*.o
*.a
*.d
compile_commands.json

*.ipynb
*.pyc
*.nextflow.log

trace-*.txt
report-*.html

bin/.commit

results/
work/

.future/
*.RDS
*.{p,}[eo][1-9]*

node_modules/
package*.json

.nf-test*

Thumbs.db
