
process {
    ext.cpus = 1
    ext.memory = { params.MINMEM }

    withLabel: process_single {
        ext.cpus = 1
        ext.memory = '6G'
    }

    withLabel: process_low {
        ext.cpus = 2
        ext.memory = '12G'
    }

    withLabel: process_medium {
        ext.cpus = 6
        ext.memory = '36G'
    }

    withLabel: process_high {
        ext.cpus = 12
        ext.memory = '72G'
    }

    withLabel: process_high_memory {
        ext.memory = '200G'
    }

    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries = { [params.maxRetries, 2].min() }
    }
}
